<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19986169928-kmnitcdehotfuoe5lccdqqsnpk1r4ne0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19986169928-kmnitcdehotfuoe5lccdqqsnpk1r4ne0</string>
	<key>API_KEY</key>
	<string>AIzaSyAL3-u2LFSfyFaBiVzmTWqB2oramBx2A_o</string>
	<key>GCM_SENDER_ID</key>
	<string>19986169928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.myshopping</string>
	<key>PROJECT_ID</key>
	<string>myshopping-5d3b6</string>
	<key>STORAGE_BUCKET</key>
	<string>myshopping-5d3b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19986169928:ios:9737c1deb96639e632987d</string>
</dict>
</plist>